<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>活动管理系统 - 编辑管理员组 </title>
<meta name="robots" content="noindex, nofollow">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="<?php echo base_url();?>application/views/admin/styles/general.css" rel="stylesheet" type="text/css" />
<link href="<?php echo base_url();?>application/views/admin/styles/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="<?php echo base_url();?>application/views/admin/js/placeholder.js"></script>
</head>
<body>
<style>
.level1{
	float:left;
	list-style-type:none;
}
.level2 li{
	float:left;
	list-style-type:none;
}

</style>
<h1>
<span class="action-span"><a>编辑管理员组</a></span>
<span class="action-span1"><a href="#">活动管理系统</a> </span><span id="search_id" class="action-span1"> - 编辑管理员组 </span>
<div style="clear:both"></div>
</h1>

<div class="main-div">
  <form action="<?php echo site_url('admin/admingpmng/editadmingp/'.$groupinfo['gid'].'');?>" method="post" name="theForm" enctype="multipart/form-data">
  <table width="100%" id="general-table">
      <tr>
        <td class="label">组名:</td>
        <td>
		<?php echo $groupinfo['gname'];?>

		  <font color="red">*</font>
        </td>
		
      </tr>  
	  
	   <tr>
        <td class="label">是否启用:</td>
        <td>
          <input type='radio' name='is_normal'  value="0" <?php echo $groupinfo['is_normal']=='0'?'checked="true"':'';?>/>禁用 
		  <input type='radio' name='is_normal'  value="1" <?php echo $groupinfo['is_normal']=='1'?'checked="true"':'';?>/>启用 
		  <font color="red">*</font>
        </td>
		
      </tr>  
	  
	   <tr>
        <td class="label">备注:</td>
        <td>
          <textarea name='remark' cols="25" rows="5" width="50" height="10">
			<?php echo $groupinfo['remark'];?>
		  </textarea>
		  <font color="red">*<?php echo form_error('remark');?></font>
        </td>
		
      </tr>
	     <tr>
			<td class="label">配置权限:</td><td><font color="red">*<?php echo form_error('nid[]');?></font></td>
		</tr>
		
	</table>
	   <?php foreach($nodelist as $k=>$v){?>
	  <li class="level1">
	  <input type="checkbox" name="nid[]"  id="<?php echo $v['nid'];?>" value="<?php echo $v['nid'];?>"
	  <?php echo in_array($v['nid'],$groupinfo['nid'])?'checked="true"':'';?>/>
	  <label for="<?php echo $v['nid'];?>"><?php echo $v['remark'];?></label>
		<ul class="level2">
		<?php foreach($v['subnode'] as $key=>$va){?>
			<li><input type="checkbox" name="nid[]"   id="<?php echo $va['nid'];?>" value="<?php echo $va['nid'];?>"
			<?php echo in_array($va['nid'],$groupinfo['nid'])?'checked="true"':'';?>/>
			<label for="<?php echo $va['nid'];?>"><?php echo $va['remark'];?></label></li>
		<?php } ?>
		</ul>
	  </li>
	  <?php } ?>
      
       
      

      <div class="button-div">
        <input type="submit" value=" 确定 " />
        <input type="reset" value=" 重置 " />
      </div>
   
  </form>
</div>

<div id="footer">

版权所有 ©雅集文化传媒有限公司，并保留所有权利。</div>

</body>
</html>